{% macro list(labels, fields, values) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% if values|length > 0 %}
    <table id="results" class="ui sortable stackable celled table">
        <thead>
            <tr>
                {% for label in labels %}
                    <th>{{ label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in values %}
                <tr id="{{ loop.index }}">
                    {% for label in labels %}
                        <td>{{ value[label] }}</td>                    
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <span>{{ 'sylius.ui.there_are_no_reports_created'|trans }}</span>
{% endif %}

{% endmacro %}
